@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.3/400.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.3/500.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.3/600.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.3/700.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.3/800.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Geist Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
